.home__parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  max-height: 600px;
}

.home__contents {
  padding: 14px;
  margin-top: 8vh;
}

.home__contents h5 {
  color: rgba(15, 25, 25, 0.564);
  margin-left: 1.3rem;
}

.home__contents p {
  color: rgba(15, 25, 25, 0.564);

  margin-left: 1.3rem;
}
.home__carousel {
  margin: 12px;
  padding: 14px;
  max-height: 700px;
}

.register__btn {
  background-color: rgb(10, 87, 27);
  color: rgb(244, 242, 247);
  border-radius: 2px solid rgb(14, 12, 12);
  border-radius: 4px;
  margin-left: 15vw;
  margin-top: 3.5vh;
  width: 170px;
  height: 50px;
  font-size: larger;
}

.register__btn:hover {
  background-color: rgba(30, 1, 2, 0.84);
  color: rgb(224, 112, 6);
}

.heading {
  color: rgb(240, 82, 54);
  margin-top: 22px;
  /* font-size: 18px; */
}
