.slider__image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  background-color: rgb(224, 40, 40);
  flex: 0.5;
}

.slider__container {
  height: 900px;
  width: 50%;
  /* background-color: rgb(19, 133, 108); */
}

.slider__content {
  width: 650px;
  min-height: fit-content;
  background-color: rgb(209, 204, 204);
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  justify-content: space-around;
  z-index: 1;
}
.slider__text {
  flex: 0.5;
}

.slider__text__name {
  color: tomato;
  font-size: 28px;
}

.slider__text__occupation {
  color: rgb(22, 8, 155);
  font-size: 20px;
}

.slider__text__description {
  /* color: rgb(22, 8, 155); */
  font-size: 14px;
}
