.nav__icon {
  width: 10vw;
  margin-left: 4vw;
}

.nav__container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: rgb(77, 75, 75);
  width: 100%;
}
.nav__options {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  color: aliceblue;
}
.nav__option {
  padding: 8px;
  margin: 12px;
  font-size: larger;
}
.nav__buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.btn {
  gap: 5px;
  align-self: center;
  background: none;
  border: none;
  color: aliceblue;
  font-size: larger;
}
