.nav__icon {
  width: 10vw;
  margin-left: 4vw;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(77, 75, 75);
  width: 100vh;
}
.nav__options {
  display: flex;
  flex-direction: row;
}
.nav__option {
  padding: 8px;
  margin: 12px;
  font-size: larger;
}
