#root {
  width: 100%;
}

#root * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid black !important;
  padding: 0.5rem 1rem !important;
}
